.pog {
    margin-top: 40px;
    overflow: auto;
    button {
        background-color: blue;
        border: 2px solid blue;
        border-radius: 25px;
        padding: 6px;
        font-weight: bolder;
        color: #fff;
         margin: 2em;
     }
}