<div class="container">
    <p>Olá, Usuário</p>
    <div class="mensagem">
      <p>Hoje são:</p>
      <span>03/04/2019</span>
    </div>
    <div class="meuform">
  
      <label for="entrada1">Entrada</label>
      <input type="time" name="entrad1" id="entrada1">
      <label for="saida1">Saída</label>
      <input type="time" name="saida1" id="saida1">
      <label for="entrada2">Entrada</label>
      <input type="time" name="entrada2" id="entrada2">
      <label for="saida2">Saída</label>
      <input type="time" name="saida2" id="saida2">
      <div class="minhasopt">
        <button onclick="alert('Página em Manutenção!!')" routerLink="/baterponto" >Salvar</button>
        <button routerLink="/relatorio">Relatórios</button>
        <button routerLink="/configuracao">Configuração</button>
      </div>
  
      </div>
  </div>