.container {
    display:flex;
    min-width: 320px;
    max-width: 380px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #D3D3D3;
    margin-top: .5em; 
    margin-bottom: .5em; 
  }